{% extends 'main.html' %}

{% block content %}

    <h1>Order List Page</h1>

    <hr>
	<div class="col-md-9">
		<h5>ORDERS LIST</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'register_shop' %}">Create Shop</a>
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Date</th>
					<th>Update</th>
				</tr>
				{% for shop in shops %}
					<tr>
						<td>{{ shop.name }}</td>
						<td>{{ shop.phone }}</td>
						<td>{{ shop.email }}</td>
						<td>{{ shop.date_created }}</td>
						<td><a type="button" href="{% url 'update_shop' shop.id %}" class="btn btn-primary btn-sm">Update</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

{% endblock %}
